<div class="col-md-8">
    <p>This an informational website and has no accuracy data.</p>
    <h4>If you have some offers:</h4>
    <a href="mailto:hunter@ingress-guard.tk" target="_top">Send Mail</a>
    <p>My telegram nickname: @guardianhunter</p>
    <hr>
    <h4>Last news</h4>
    <p>Added opportunity to hide achievements. <a href="/#/instructions">Instruction.</a></p>
    <hr>
    <p>New features as inventory and profile checker was added. <a href="/#/instructions">Instruction how to use this feature.</a> IITC plug-in to display the profile currently in development.</p>
    <hr>
    <p>We are making new features as inventory and profile checker now. You can see some troubles with service.
        Instruction about profile feature will be added soon. Thanks.</p>
</div>
<div class="col-md-4">
</div>