<div class="col-md-8">
    <h4>Proxy install</h4>
    <p class="error">ATTENTION. Please don`t use your main account for getting profiles from ingress.</p>
    <a href="plugin/proxy_cert.pem">Download first this certificate for proxy.</a>
    <h4>1. Close ingress app and Go to Settings > Privacy > Install from storage (Install sertificates from storage)</h4>
    <img src="app/img/privacy.jpg" height="500">
    <h4>2. Choose certificate that you downloaded. It may take to put the lock screen pin.</h4>
    <h4>3. Insert any name of cert and choose "VPN and app" (not wifi) in credentials use.</h4>
    <img src="app/img/cert.jpg" height="350">
    <p>After you will get message that your network may be monitored.</p>
    <h4>4. Go to Wifi menu, select your connection and modify proxy settings.</h4>
    <img src="app/img/proxy.jpg" height="350">
    <h4>5. <a href="https://ingress-guard.tk/#/settings" target="_blank">Go to </a> and add account name. The service will not work if you add incorrect name.</h4>
    <h4>6. Now you can start your ingress app. You can disable proxy when inventory will be downloaded.</h4>
    <p>Refresh <a href="https://ingress-guard.tk/#/settings">this page</a>. If you see factions color on account name then all work properly.</p>
    <h4>7. Now you can see profiles without scanner and hide achievements of account. And you can see inventory of account that was connected to service.</h4>
    <hr>
</div>
<div class="col-md-4">
</div>