<div class="col-md-8">

    <h2>Plugins</h2>
    <h4>Telegram bot</h4>
    <a href="http://t.me/IngressGuardBot" class="btn btn-primary">Write</a>
    <hr>
    <h4>Proxy instruction</h4>
    <a class="btn btn-primary" href="/#/instructions" target="_blank">Show</a>
    <hr>
    <h4>Test IITC plugin for show achievements on intel map</h4>
    <a class="btn btn-primary" href="/plugins/{{ user.token }}achievements_plugin.user.js" target="_blank">Download</a>
    <hr>
    <h4>Show all portals on small zoom</h4>
    <a class="btn btn-primary" href="/plugin/zoom.user.js" target="_blank">Download</a>
    <hr>
    <h4>IITC</h4>
    <a class="btn btn-primary" href="https://iitc.me/" target="_blank">Download</a>

    <hr>
    <p>* You can hide your achievements after verification your account. <a href="https://ingress-guard.tk/#/instructions">Instruction</a></p>

</div>
<div class="col-md-4">
</div>

